<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  {% block style %} {% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/shop">My Awesome Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop/about">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/shop/contact">Contact Us</a>
          </li>

        </ul>
        <form method='get' action='/shop/search/'
        class="d-flex" role="search">
          <input id="search"
          name = "search" class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- <button type="button" class="btn btn-primary">

          cart(<span id="cart">0</span>)
        </button> -->

        <a href="/shop/checkout" class="btn btn-primary">
          Cart (<span id="cart">0</span>)
        </a>

      </div>
    </div>
  </nav>


  {% block body %} {% endblock %}

  <!-- Optional JavaScript; choose one of the two! -->
  
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
  </script>


  <script>


    // find out the cart from local storage 
    document.addEventListener('DOMContentLoaded', function () {

      let cart = {};
      if (localStorage.getItem('cart') !== null) {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
      }


      const cartElement = document.getElementById('cart');
      if (cartElement) {
        cartElement.innerHTML = Object.keys(cart).length;
      } else {
        console.error('Element with ID "cart" not found.');
      }


      $('.cart').click(function () {
        console.log('clicked');
        const idstr = this.id.toString();
        console.log(idstr);

        
        const productNameElement = document.getElementById('name' + idstr);
const name = productNameElement ? productNameElement.innerHTML : "Unnamed Product";
   

        if (cart[idstr] != undefined) {
          cart[idstr][0] = cart[idstr][0] + 1;
        } else {
          cart[idstr] = [1, name];
        }
        updateCart(cart);
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));


        if (cartElement) {
          cartElement.innerHTML = Object.keys(cart).length;
        }
      });

      function updateCart(cart) {
        var sum = 0;

        for (let item in cart) {

          // sum += cart[item][0];
          const quantity = parseInt(cart[item][0]) || 0;
          sum += quantity;

          const divElement = document.getElementById('div' + item);
          if (divElement) {
            divElement.innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
          }
          else {
            console.error('Element with ID div' + item + ' not found.');
          }

        }

        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        console.log(cart);

      }

      $('.divpr').on("click", "button.cart", function () {
        let idstr = this.id.toString();
        if (cart[idstr] != undefined) {
          qty = cart[idstr][0] + 1;
          
        } else {
          qty = 1;
          name = document.getElementById('name' + idstr).innerHTML;
          price = document.getElementById('pricepr' + idstr).innerHTML;
          
          cart[idstr] = [qty, name,price];
        }

        updateCart(cart);
      });

      //if plus or minus button is clickedchange the cart as the display value
      $('.divpr').on("click", "button.minus", function () {
        console.log("minus clicked");
        a = this.id.slice(7,);

        if (cart['pr' + a][0] >= 1) {

          cart['pr' + a][0] = cart['pr' + a][0] - 1;
        } else {
          delete cart['pr' + a];
        }

        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
      });


      $('.divpr').on("click", "button.plus", function () {
        console.log("plus clicked");
        a = this.id.slice(6,);
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
      });

    });

  </script>

{% block js %} {% endblock %}
</body>

</html>